{% load templatehelpers %}


<script>
    var tbl_student_transactions;
    setInterval(function() {

        if(!tbl_student_transactions.rows('.selected').any())
            tbl_student_transactions.ajax.reload(null, false);
    }, 5000 * 60);

    $(document).ready(function () {
        // $('form.filter').rememberState()

        let baseURL = '{{transactions_api_url}}' + "&format=datatables"

        $(document).on("change", "form.filter :input", function () {
            load_data();
        })

        function load_data() {
            let form = $('form.filter')
            let newURL = baseURL + '&' + $(form).serialize() + "&format=datatables";

            tbl_student_transactions.ajax.url(newURL).load(null, false)
        }

        tbl_student_transactions = $('#tbl_student_transactions').DataTable(
            {
                dom: 'B<"float-left mt-3 mb-3"l><"float-right mt-3"f><"row clear">rt<"row"<"col-6"i><"col-6 float-right"p>>',
                buttons: [
                    {
                        extend: 'csv', className: 'btn btn-sm btn-primary text-white text-light',
                        text: '<i class="fas fa-file-csv text-white"></i>&nbsp;CSV',
                        titleAttr: 'Export results to CSV' 
                    },
                    { 
                        extend: 'print', className: 'btn btn-sm btn-primary text-white text-light',
                        text: '<i class="fas fa-print text-white"></i>&nbsp;Print',
                        titleAttr: 'Print' 
                    },
                ],
                'orderCellsTop': true,
                'fixedHeader': true,
                'order': [[0, 'desc']],
                // searching: false,
                ajax: '{{transactions_api_url}}',
                serverSide: true,
                processing: true,
                // stateSave: true,
                language: {
                    'loadingRecords': '&nbsp;',
                },
                'lengthMenu': [30, 50, 100],
                'columns': [
                    null,
                    {
                        'render': function(data, type, row, meta) {
                            return row.term.label
                        }
                    },
                    null,
                    {
                        'render': function(data, type, row, meta) {
                            return "<span class='transaction-" + row.t_type + "'>" + row.format_amount + "</span>";
                        }
                    },
                    null,
                    {
                        'searchable': false,
                        'orderable': false,
                        'render': function (data, type, row, meta) {
                            return "<a class='btn btn-sm btn-primary ajax-add_transaction' refresh-target='tbl_student_transactions' href='#transactions' data-src='" + row.ce_url + "'>Edit</a>"
                        }
                    }
                ]
            }
        );
    });

    $(document).on('click', 'a.ajax-add_transaction', function(event) {
        var src = $(this).attr('data-src');

        $("#details_src").attr('src', src);
        $("#details_src").attr('refresh-target', $(this).attr('refresh-target'));
        $('#transaction_modal').modal({
            show: true,
            backdrop: 'static'
        });

        event.preventDefault()
        return false;
    });

    $(document).on('hidden.bs.modal', '#transaction_modal', function (event) {
        tbl_student_transactions.ajax.reload(null, false);
    });

    window.closeTransactionModal = function() {
        $('#transaction_modal').modal('hide');
    };
</script>
<div class="row">
    <div class="col-12 bg-gray-100">
        <div class="card mb-4 border-top-0">
            <div class="card-body ">
                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="{% url 'student_transactions:download_receipt_pdf' student.id %}"><i class="fa fa-download text-light"></i>&nbsp;</a>

                    <a href="#transactions" class="btn btn-sm btn-info ajax-add_transaction" 
                        data-target="tbl_student_transactions" 
                        data-parent="{{student.id}}" 
                        data-src="{% url 'student_transactions:manage_debit' student.id %}"
                        ><i
                            class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Charge</a>
                            <a href="#transactions" class="btn btn-sm btn-primary ajax-add_transaction" 
                            data-target="tbl_student_transactions" 
                            data-parent="{{student.id}}" 
                            data-src="{% url 'student_transactions:manage_payment' student.id %}"
                            ><i
                            class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Payment</a>
                    <a href="#transactions" class="btn btn-sm btn-primary ajax-add_transaction"
                    data-target="tbl_student_transactions" 
                    data-parent="{{student.id}}" 
                    data-src="{% url 'student_transactions:manage_scholarship' student.id %}"
                        ><i
                            class="fa fas-light fa-plus-circle"></i>&nbsp;Add New TA</a>
                    <a href="#transactions" class="btn btn-sm btn-primary ajax-add_transaction"
                    data-target="tbl_student_transactions" 
                    data-parent="{{student.id}}" 
                    data-src="{% url 'student_transactions:manage_refund' student.id %}"
                        ><i
                            class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Refund</a>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="table-responsive">
                    <table id="tbl_student_transactions" class="table table-striped responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th data-data="created_on" data-name="created_on">Created On
                                </th>
                                
                                <th data-data="term.code" searchable="1" data-name="term.code">Term
                                </th>
                                <th data-data="sexy_label" searchable="1" data-name="sexy_label">Type
                                </th>
                                <th data-data="format_amount" searchable="1" data-name="format_amount">Amount
                                </th>
                                <th data-data="sexy_description" searchable="1" data-name="sexy_description">Description
                                </th>
                                <th data-data="id" data-name='id'><span class="sr-only">Actions</span></th>
                            </tr>
                        </thead>
                    </table>
                </div> <!-- end table-responsive -->

                
                {% if terms %}
                <div class="card bg-gray-200 mt-4 p-2 pt-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <select class="form-control" name="term">
                                    {% for c in terms %}
                                    <option value="{{c.id}}">{{c}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <!-- # JS function is defined in details.html -->
                                <input type="button" data-action='get_payment_link'
                                    value="Get Link" name="get_link"
                                    class="btn btn-sm btn-primary">
                                &nbsp;<input type="button" data-action='email_payment_link'
                                    value="Email Link" name="get_link"
                                    class="btn btn-sm btn-primary">
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{{record.id}}">
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


<style>
    .modal-dialog,
    .modal-content {
      /* 80% of window height */
      height: 80%;
    }

    .modal-dialog {
      max-width: 50%;
    }
    .modal-body {
      max-height: calc(100vh - 65px);
      overflow-y: none;
    }
  </style>


  <div id='transaction_modal' class='modal fade' role='dialog' tabindex="-1" style="">
    <div class='modal-dialog' style="">
        <div class='modal-content'>
            <div class='modal-body' style="position: relative;">
                <iframe id='details_src' width='100%' height='100%'
                    style="position:  absolute; height: 98%; width: 97%;" frameborder='0' allowfullscreen></iframe>
            </div>
            <div class='modal-footer'>
              <button type='button' class='close' data-dismiss='modal'>&times;</button>
          </div>

        </div>
    </div>
</div>